.iteamsdetails{
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
}
.items_img{
    flex: .4;
    height: 400px;
}
.items_img img{
    height: 76%;
    margin-top: 36px;
    border-radius: 10px;
    margin-right: 10px;
}